﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="wrapper">
        <div class="sidebar" data-image="/Content/themes/light_theme/img/sidebar-5.jpg">
            <!--<img src="../../Content/themes/light_theme/img/sidebar-5.jpg" alt="" />
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    @Html.ActionLink(UIString.AppName, "Index", "Home", null, new {@class = "simple-text"})
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        @Html.ActionLink("Home", "Index", "Home", null, new {@class = "nav-link"})
                    </li>
                    <li>@Html.ActionLink("Manage Vehicles", "Index", "ManageVehicles", null, new {@class = "nav-link"})</li>
                    <li>@Html.ActionLink("Users", "Index", "ManageUsers", null, new {@class = "nav-link"})</li>

                    @*@if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin", null, new {@class = "nav-link"})</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin", null, new {@class = "nav-link"})</li>
                    }*@
                    <li>
                          @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
    @RenderBody()
                    
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav>
                        <p class="copyright text-center">
                            &copy; @DateTime.Now.Year <a href="http://salikchughtai.com" target="_blank">Salik Chughtai</a>
                        </p>
                    </nav>
                </div>
                
            </footer>
        </div>
    </div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
