
<div class="row">
  <div class="col-md-8 col-sm-12">
    <form #frmLogin = "ngForm" (ngSubmit) = "onLoginSubmit(frmLogin.value)" autocomplete="off">
      <div class="form-group">
        <label for="txtEmailAddress">Email address</label>
        <input type="email" class="form-control" name="txtEmailAddress" id="txtEmailAddress" aria-describedby="emailHelp" placeholder="Enter email" ngModel>
        <small id="emailHelp" class="form-text text-muted">username: test@email.com</small>
      </div>
      <div class="form-group">
        <label for="txtPassword">Password</label>
        <input type="password" class="form-control" name="txtPassword" id="txtPassword" placeholder="Password"  placeholder="********" ngModel>
        <small class="form-text text-muted">password: Click@123</small>
      </div>
      <!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"> Check me out</label>
      </div> -->
      <p *ngIf="errorDescription" class="alert alert-danger">{{errorDescription}}</p>
      <input type="submit" class="btn btn-primary pull-right" value="Signin">
    </form>
</div>
<div class="col-md-4 col-sm-12"></div>
</div>