﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h1>Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2 class="text-uppercase">Recent Bookings</h2>
    </div>
    <div class="col-md-4">
        <h2 class="text-uppercase">Stats</h2>
    </div>
</div>

