<footer class="page-footer font-small blue pt-4">
  <!-- <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
        </div>
    </div>
  </div> -->
  <!-- Copyright -->
  <nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="http://salikchughtai.com"> salikchughtai.com</a>
      </div>
    </div>
  </nav>
</footer>