﻿@model BackofficeRent.Model.VehicleDetailsDto
@using BackofficeRent.Model
@{
    ViewBag.Title = Model.IsInCreateRecordMode ? "Add New Vehicle" : "Vehicle Details";
    var actionName = Model.IsInCreateRecordMode ? "Create" : "Edit";
}
<h1>@ViewBag.Title</h1>
@if(!Model.IsInCreateRecordMode){
    <h3>@Model.Make @Model.Name #@Model.RegistrationNumber</h3>
}
<div class="row">
    @using (Html.BeginForm(actionName, "ManageVehicles", FormMethod.Post))
    {
        <div class="col-md-4">
            @Html.HiddenFor(m => m.VehicleID)
            @Html.HiddenFor(m => m.VehicleType)
            <div class="form-group">
                <label>Transmission</label>
                @Html.DropDownListFor(m=>m.Transmission, Model.VehicleTransmissions, null, new { @class = "form-control", id = "ddlTransmission" })
            </div>
            <div class="form-group">
                <label for="txtName">Name</label>
                @Html.TextBoxFor(model => model.Name, new {@Value = @Model.Name, @class = "form-control", id = "txtName", placeholder = "Vehicle name"})
                <small>Type: <span>@Model.VehicleType.DescriptionAttr()</span></small>
            </div>
            <div class="form-group">
                <label for="txtMake">Company</label>
                @Html.TextBoxFor(model => model.Make, new {@Value = @Model.Make, @class = "form-control", id = "txtMake", placeholder = "Vehicle brand company"})
            </div>
            <div class="form-group">
                <label>Classification</label>
                @Html.DropDownListFor(m=>m.Classification, Model.VehicleClassifications, null, new { @class = "form-control", id = "ddlClassification" })
            </div>
            <div class="form-group">
                <label for="txtRegistrationNumber">Registration Number</label>
                @Html.TextBoxFor(model => model.RegistrationNumber, new {@Value = @Model.RegistrationNumber, @class = "form-control", id = "txtRegistrationNumber", placeholder = "Vehicle registration number"})
            </div>


            <div class="form-check">
                @Html.EditorFor(model => model.IsActive, new {htmlAttributes = new {@class = "form-check-input", @Value = Model.IsActive, @readonly = "true"}})
                &nbsp;@Html.LabelFor(m => m.IsActive)
            </div>
        </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="txtInsuranceNumber">Insurance Number</label>
            @Html.TextBoxFor(model => model.InsuranceNumber, new {@Value = @Model.InsuranceNumber, @class = "form-control", id = "txtInsuranceNumber", placeholder = "Insurance number"})
        </div>
        <div class="form-group">
            <label>Price</label>
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.PricePerDay, new {@Value = @Model.PricePerDay, @class = "form-control", id = "txtPriceDay", placeholder = "Price/ Day"}) <small>per Day</small>
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.PricePerHour, new {@Value = @Model.PricePerHour, @class = "form-control", id = "txtPriceHour", placeholder = "Additional hours charges"}) <small>additional Hours</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="txtCarColor">Color</label>
            @Html.TextBoxFor(model => model.CarColor, new {@Value = @Model.CarColor, @class = "form-control", id = "txtCarColor", placeholder = "i.e. black, maroon, blue, white"})
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="pull-right">
                <a class="btn-primary btn-link">back</a>&nbsp;
                    <button type="submit" class="btn btn-primary text-uppercase">Save</button>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    }
</div>
