﻿@using BackofficeRent.Model
@model List<BackofficeRent.Model.VehicleDetailsDto>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h1>Manage Vehicles</h1>
    </div>
</div>
<br/>@Html.ActionLink("Add New", "Create","ManageVehicles",new {}, new {})
<div class="row">
    <div class="col-md-12">
        <table class="table">
        <thead>
        <tr>
            <th></th>
            <th class="col-md-2">Vehicle Type</th>
            <th class="col-md-2">Title</th>
            <th class="col-md-6">Details</th>
            <th class="col-md-2"></th>
        </tr>
        </thead>
            <tbody>
            @foreach(var vehicle in Model){
                <tr>
                    <td>
                        @Html.EditorFor(model => vehicle.IsActive, new {htmlAttributes = new {@class = "form-check-input", @Value = vehicle.IsActive, @readonly = "true", }})
                    </td>
                    <td>@vehicle.VehicleType</td>
                    <td>@vehicle.Make - @vehicle.Name <small>(@vehicle.RegistrationNumber)</small></td>
                    <td>
                        @if (vehicle.Transmission == "A")
                        {<img src="/Images/auto.png" alt="" width="20"/>}
                        else
                        {
                            <img src="/Images/manual.png" alt="" width="20"/>
                        }
                        &nbsp;@vehicle.CarColor | @vehicle.ModelMonth/@vehicle.ModelYear <br/> <strong>Insurance Number: </strong>@vehicle.InsuranceNumber
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Edit", "ManageVehicles", new {@id = vehicle.VehicleID}, new {})<br/>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
