/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
.slogon{color:blue;}
.justfy-left{justify-content: left !important;}

.bookingstatus{color:floralwhite;font-weight: 600; font-size: 11px;padding:5px;border-radius: 5px;}
.car-available{background-color: green;}
.car-unavailable{background-color: red;}