<h1>Search</h1>
<div class="" *ngIf="isDataLoaded">
  <div class="row">
    <div class="col-md-4">
      <form #frmSearch = "ngForm" (ngSubmit) = "onSearchSubmit(frmSearch.value)" autocomplete="off" class="form form-inline-no form-row-no">
        <div class="form-group">
          <label for="ddlArea" class="justfy-left">Area</label>
            <select  [(ngModel)]="selectedAreaName" name="ddlArea" class="form-control ">
                <option value="">All</option>
                <option *ngFor="let t of areaList" [ngValue]="t.AreaId">{{t.AreaName}}</option>
            </select>
        </div>
        <div class="form-group">
          <label for="ddlArea" class="justfy-left">Search Dates</label>
          <div class="input-daterange input-group" id="js-searchDate">
              <input type="text" class="input-sm form-control" name="start" value="01/11/2018 12:00" />
              <span class="input-group-addon">to</span>
              <input type="text" class="input-sm form-control" name="end" value="01/11/2018 23:00"/>
          </div>
        </div>
        <div class="form-group">
          <label for="ddlTransmission" class="justfy-left">Transmission</label>
          <select [(ngModel)]="selectedTransmission" name="ddlTransmission" class="form-control ">
              <option *ngFor="let t of transmissions" [ngValue]="t.value">{{t.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary pull-left" value="Search">&nbsp;
          <a href="" class="btn btn-default">Clear</a>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let obj of searchListing">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <img class="mr-3 col-3" src="{{obj.ImageUrl}}" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0">{{obj.Make}} <span class="text-uppercase">{{obj.Name}}</span>
                      &nbsp;<span><img style="max-width: 25px;" [src]="obj.Transmission==='A'? 'assets/auto.png': 'assets/manual.png'" alt="image" [title]="obj.Transmission==='A'? 'Auto': 'Manual' "></span>
                      <div class="pull-right"><small class="bookingstatus car-available text-uppercase" >available</small></div>
                    </h5>
                    <p>
                      <strong>Price:</strong> {{obj.PricePerDay}} MYR<small>/day</small> ({{obj.PricePerHour}} MYR<small>/hour after 24hrs</small>)
                      <br/><strong>Description:</strong> {{obj.ModelYear}} | {{obj.CarColor}} | {{obj.ClassificationDescription}}
                    </p>
                  </div>
                </div>
            </div>
            <div class="card-footer">
                <strong>Pickup point:</strong> {{obj.Location}}<button type="submit" class="btn btn-primary btn-sm pull-right">Book Now</button>
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="!isDataLoaded">
    <div class="loader-overlay">
      <!--TODO: Material Angular-->
        <label class="btn btn-default"><i class="fa fa-cog" style="font-size:24px"></i> Loading...</label>
    </div>
</div>