<app-layout>
  <div class="jumbotron ">
    <h1>Welcome to {{ title }}!</h1>
    <h3 class="slogon">Drive your holidays more peacefully!</h3>
    <div class="row">
      <div class="col-sm-12">
      </div>
    </div>
    <p>&nbsp;</p>
    <router-outlet></router-outlet>
  </div>
</app-layout>

